<h1>Test work for AdCash</h1>

<p>
    Hello and welcome to the test work I made for Addcash, 
    I decided to use a backend in PHP with the framework <strong>CodeIgniter</strong> which is to me a good framework to make quick prototypes.
    I also decided to use <strong>Angular 5</strong> as a front end since it is a framework I am learning on the side and i really much appreciate.
</p>

<p>
    This app consist of creating and looking for orders. In this application you can:
</p>

<ul>
    <li>Create / Edit / Delete Orders</li>
    <li>Look for orders by user or product name</li>
    <li>Limit the orders select for the current day or the last 7 days (or get them all)</li>
</ul>

<p>
    Thanks for taking the time to try it and you can proccess by clicking the link "Orders" on the navbar
</p>

<p>
    For more information you can check <a href="https://www.youtube.com/channel/UC_CZg6Xlgcn7nMdRmIyGN7Q"> my Youtube channel</a> where I created tutorial on Angular NodeJS and other web technologies in English en French
</p>

<p>
    Alexis Matheis
</p>

